<div class="container-fluid text-center">
    <h1>About Page</h1>
    <p> We are note8. We make reading tools in a learing world. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugit suscipit explicabo at, possimus est accusamus perferendis adipisci sequi consectetur, dolores, aliquid ullam provident saepe nulla omnis eum ad iure.</p>
</div>